body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: url('https://media0.giphy.com/media/PbOaO2fedzQLm/giphy.gif?cid=6c09b952ol2qoyfo2bbjwd80fduc2ydg8pi7a1qkyrni8tkf&ep=v1_gifs_search&rid=giphy.gif&ct=g') no-repeat center center/cover;
}

#content {
    position: relative;
    z-index: 10;
    color: white;
    text-shadow: 0 0 10px black;
}

h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

h2 {
    font-size: 24px;
    margin-bottom: 30px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #000;
    color: white;
    border: 2px solid #fff;
    border-radius: 5px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    margin: 5px;
}

button:hover {
    background-color: #333;
}
